<%= render partial: "header" %>

<% unfinished_games.each do |game| %>
  <%= form_for game do |f| %>
    <%= f.submit "continue playing against #{opponent(game)}" %>
  <% end %>
<% end %>

<% joinable_games.each do |game| %>
  <%= form_for [game] do |f| %>
    <%= f.hidden_field(:user, value: current_user) %>
    <%= f.submit "Play against #{game.player_1.name}"%>
  <% end %>
<% end %>

<%= form_for Game.new do |f| %>
  <% f.submit "Send invitation to everyone" %>
<% end %>

<div>
  <h2>Your Game History</h2>

</div>
