<%= render partial: "header" %>

<div id="play_options"
  data-pending-game-count="<%= Game.pending.length %>"
  class="games" >

  <h2>Play!</h2>

  <% @accepted_games.each do |game| %>
    <div id="accepted_game">
        <p> <%= opponent_name(game) %> accepted your invitation! </p>
        <%= link_to "go to game", game %>
    </div>
  <% end %>

  <% @resumable_games.each do |game| %>
    <div>
      <%= link_to "continue playing against #{opponent_name(game)}", game %>
    </div>
  <% end %>

  <% @joinable_games.each do |game| %>
    <%= form_for [game, Player.new] do |f| %>
      <%= f.submit "Play against #{game.player(1).user.name}"%>
    <% end %>
  <% end %>

  <% if @user.pending_game_exists? %>
    <%= form_for @user.pending_game, method: :delete do |f| %>
      <% if @user.pending_game_exists? %>
        <% f.submit "Cancel invitation" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for Game.new do |f| %>
      <% unless @user.pending_game_exists? %>
        <% f.submit "Send invitation to everyone" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <h2>Your Game History</h2>
  <% @finished_games.each do |game| %>
    <div id="finished_game">
        <p><%= finished_game_text(game) %></p>
    </div>
  <% end %>
</div>
