<%= render partial: "header" %>

<p> It is <%= current_player_name(@game) %>'s turn </p>


<div id="grid">

<div id="header">
	<% Game::GRID_WIDTH.times do |lane| %>
		<div class="blocks">
			<%= form_for [@game, Turn.new] do |f| %>
				<%= f.hidden_field(:lane_number, value: lane.to_i) %>
				<%= f.hidden_field(:player_id, value: @game
				.whos_turn?.id.to_i) %>
				<%= f.submit "drop"%>
			<% end %>
		</div>
	<% end %>
</div>

<% (Game::GRID_HEIGHT - 1).downto(0) do |row| %>
	<div class="wrap">
		<% Game::GRID_WIDTH.times do |lane| %>
			<div class="blocks">
				<label for="slot"><%= item_for_slot(@game, @grid, lane, row) %></label>
			</div>
		<% end %>
	</div>
<% end %>

</div>