<%= render partial: "header" %>
<div id="game" class="games">
  <% if @game.pending? %>
    <p> Game waiting for another player </p>
  <% else %>
    <div id="game_info">
      <%= image_tag resource_for_player(@game, @active_player) %>
      <p> <%= message_for_turn(@game) %> </p>
      <% if alert %>
        <p id="alert"><%= alert %></p>
      <% end %>
    </div>

    <div id="grid" data-game-id="<%= @game.id %>" 
          data-my-turn="<%= my_turn?(@game) %>">

      <div id="header">
        <% Game::GRID_WIDTH.times do |lane| %>
          <div class="blocks">
            <% if my_turn_and_game_not_over?(@game)%>
              <%= form_for [@game, Turn.new] do |f| %>
                <%= f.hidden_field(:lane_number, value: lane.to_i) %>
                <%= f.hidden_field(:player_id, value: @active_player.id) %>
                <%= f.submit "drop"%>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% (Game::GRID_HEIGHT - 1).downto(0) do |row| %>
        <div class="wrap">
          <% Game::GRID_WIDTH.times do |lane| %>
            <div class="blocks">
              <%= image_tag resource_for_slot(@game, @grid, lane, row) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>